@Html.Partial("navigationPartial");

<div class="admin-content row">
    <ul class="nav nav-pills nav-stacked col-lg-2" style="text-align:center;">
        <li><a href="~/User/Index">Index</a></li>
        <li><a href="~/User/InformationConfig">Information Configuration</a></li>
        <li class="active"><a href="~/User/ChangePassword">Change Password</a></li>
    </ul>
    <div class="col-lg-9">
        <h3 style="text-align:center;">Change Password</h3>
        <div class="col-lg-4 col-lg-offset-4" style="margin-top:25px;">
            <label for="name">Password</label>
            <input class="form-control" type="password" id="password" placeholder="Input Password" />
            <label for="passwordAgain">Password Again</label>
            <input class="form-control" type="password" id="passwordAgain" placeholder="Input Password" />
            <button type="button" id="savePwd" class="btn btn-success col-lg-12" style="margin-top:10px;">Save</button>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var userInfo = @Html.Raw(Json.Encode(Model));
    </script>
    <script src="~/Scripts/User/changePwd.js"></script>
}