<div class="row main-content">
    <div class="col-lg-6 col-lg-offset-3 form-group" style="vertical-align:middle;">
        <div>
            <label for="loginName">Login Name</label>
            <input class="form-control" type="text" id="loginName" placeholder="Input Login Name" />
        </div>
        <div>
            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" placeholder="Input Password" />
        </div>
    </div>
    <div class="col-lg-6 col-lg-offset-3" style="margin-top:10px;">
        <button class="btn btn-success col-lg-5" id="loginBtn">Login</button>
        <button class="btn btn-success col-lg-5 col-lg-offset-2" id="register">Register</button>
    </div>
</div>
@section scripts{
    <script>

    </script>
    <script src="~/Scripts/Login/Login.js"></script>
}

